.article {
    padding: 10px;
}

.article .article-image-block {
    width: 200px;
    height: 250px;
    overflow: hidden;
}

.article .article-image {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
}

.article .title {
    font-size: 24px;
}

.article .subtitle {
    color: #d3d3d3;
}